<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rnapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <application
      android:name=".MainApplication"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:allowBackup="false"
      android:theme="@style/AppTheme">
      <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
        android:windowSoftInputMode="adjustResize">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
      </activity>

<meta-data android:name="PUSH_APPID" android:value="FdcAQSDYcF9P0BERwINh74"/>
<meta-data android:name="PUSH_APPKEY" android:value="B6XmJYZ9kvAKDGqgf0Ykz3"/>
<meta-data android:name="PUSH_APPSECRET" android:value="MfnoEzzkvL7ejae5YwPRpA"/>


<meta-data android:name="PUSH_APPID" android:value="FdcAQSDYcF9P0BERwINh74"/>
<meta-data android:name="PUSH_APPKEY" android:value="B6XmJYZ9kvAKDGqgf0Ykz3"/>
<meta-data android:name="PUSH_APPSECRET" android:value="MfnoEzzkvL7ejae5YwPRpA"/>

      <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />
    </application>

</manifest>
